<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">

    <title>Predict</title>
</head>

<body>
    <header>
        <nav class="navbar  navbar-expand-lg fixed-top navbar-light bg-purple flex-md-nowrap p-1 shadow"
            aria-label="Main navigation">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="{{ url_for('static', filename='images/logo1.png') }}" alt="" width="100" height="64"
                        class="">
                    <h1 style="color: #FFFF; float: right; margin-top: 10px;" class="d-inline-block align-text-center">
                        SENTI-Man</h1>
                </a>

                <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <button class="navbar-toggler position-absolute d-md-none collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-nav">
                    <div class="nav-item">

                        <img style="border-radius : 50%; padding: 1px 9px; height : 50px; "
                            src="{{ url_for('static', filename='images/default.png') }}">

                    </div>
                    <a class="toggler-navbar">
                        <div class="hamburger-menu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <div class="sidebar">
                        <ul>
                            <li class="active"><a href="">Home</a></li>
                            <li><a href="">lorem</a></li>
                            <li><a href="">lorem</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="main">
        <div class="overlay">
            <h1 class="title">Cek Sentiment Masyarakat di Twitter dengan sekali klik</h1>
            <h1 class="subtitle">Ketik kata kunci yang ingin Anda cari dan lihat prediksi sentimen dengan bantuan AI
            </h1>
            <form action="/result" method="post" class="text-center" style="width: 1000px; ">
                <input type="text" class="form-control mb-3" placeholder="Ketik disini..." name="keyword" id="keyword"
                    required>
                <input class="btn align-content-center" type="submit" value="Cari dan Prediksi">
            </form>
            <div class="space"></div>
        </div>

    </div>
    <div class="footer">
        <h6 style="text-align: center;">Sentiment and the Sentiment logo are trademarks and/or registered trademarks of
            Sentiment Corporation. 2022 Sentiment Corporation, all rights reserved.</h6>
    </div>

    <script src="/js/main.js"></script>
    <script type="text/javascript" src="dist/sweetalert2.all.min.js"></script>
</body>

</html>