<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}"> -->

    <title>Login</title>
</head>

<body>
    <div class="half">
        <div class="text-center mb-3">
            <img src="{{ url_for('static', filename='images/logo1.png') }}" alt=""
                style="width: 200px; padding-top: 50px;">
            <h2 style="font-weight: 900;">SENTI-Man</h2>
        </div>
        <div class="content order-2 order-md-1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-5">
                        <div class="form-block">
                            <h3 class="text-center mb-3" style="font-weight: 900;">Login</h3>
                            <form method="post" class="text-center">
                                <input type="text" class="form-control mb-2" placeholder="Username" name="username"
                                    id="username">
                                <input type="password" class="form-control mb-2" placeholder="Password" name="password"
                                    id="password">
                                <input class="btn align-content-center" type="submit" value="Log in" id="btn">
                            </form>
                        </div>
                        <br>
                        <p style="font-size: 11px; text-align: center;">Sentiment and the Sentiment logo are trademarks
                            and/or registered trademarks of Sentiment Corporation. 2022 Sentiment Corporation, all
                            rights reserved.</p>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <script>
        const btn = document.getElementById("btn");
        btn.addEventListener("click", function () {
            Swal.fire({
                icon: 'error',
                width: 600,
                title: 'username atau password tidak benar!',

            })
        })
    </script>


    <script type="text/javascript" src="dist/sweetalert2.all.min.js"></script>
</body>

</html>